@using Microsoft.CodeAnalysis.FlowAnalysis
@model Apartment.App.Web.Models.BlockModels.BlockViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h2>Blok Yönetim Penceresi</h2>
    <a class="btn btn-success" href="@Url.Action("Add", "Block")">Yeni Blok Ekle</a>
</div>

<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

        @for (int i = 0; i < Model.Blocks.Count; i++)
        {
            if (i == 0)
            {
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#@("menu"+@Model.Blocks[i].block.BlockNumber.ToString())"> Blok : @Model.Blocks[i].block.BlockNumber</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#@("menu"+@Model.Blocks[i].block.BlockNumber.ToString())"> Blok : @Model.Blocks[i].block.BlockNumber</a>
                </li>
            }
        }
    </ul>

    <div class="tab-content">

        @for (int i = 0; i < Model.Blocks.Count; i++)
        {
            if (i == 0)
            {
                <div class=" container tab-pane active " id="@("menu"+@Model.Blocks[i].block.BlockNumber.ToString())">
                    @for (int j = 0; j < @Model.Blocks[i].floorsInBlokcs.Count; j++)
                    {
                        <div class="p-3 mb-2 bg-secondary text-white">
                            <br>
                            <p>KAT : @Model.Blocks[i].floorsInBlokcs[j].FloorNumber  MESKEN SAYISI : @Model.Blocks[i].floorsInBlokcs[j].HousingCount</p>
                            <a class="btn btn-success" href="@Url.Action("Add", "Housing",new{floorId=@Model.Blocks[i].floorsInBlokcs[i].Id} )">Yeni Daire Ekle</a>
                        </div>
                    }
                    <br />
                    <a class="btn btn-info" href="@Url.Action("Add", "Floor",new{id=@Model.Blocks[i].block.Id} )">Yeni Kat Ekle</a>
                    @if (@Model.Blocks[i].blockHasHirer == false)
                    {
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Block",new{id=@Model.Blocks[i].block.Id})">Blok Sil</a>
                    }
                </div>
            }
            else
            {
                <div class=" container tab-pane fade" id="@("menu"+@Model.Blocks[i].block.BlockNumber.ToString())">
                    @for (int j = 0; j < @Model.Blocks[i].floorsInBlokcs.Count; j++)
                    {
                        <div class="p-3 mb-2 bg-secondary text-white">
                            <br>
                            <p>KAT : @Model.Blocks[i].floorsInBlokcs[j].FloorNumber  MESKEN SAYISI : @Model.Blocks[i].floorsInBlokcs[j].HousingCount</p>
                            <a class="btn btn-success" href="@Url.Action("Add", "Housing",new{floorId=@Model.Blocks[i].floorsInBlokcs[i].Id} )">Yeni Daire Ekle</a>
                        </div>
                    }
                    <br />
                    <a class="btn btn-info" href="@Url.Action("Add", "Floor",new{id=@Model.Blocks[i].block.Id} )">Yeni Kat Ekle</a>
                    @if (@Model.Blocks[i].blockHasHirer == false)
                    {
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Block",new{id=@Model.Blocks[i].block.Id} )">Blok Sil</a>
                    }
                </div>
            }
        }
    </div>
</div>
